body {
  background: #dedede;
}

header {
  background: #222;
  color: #FFF;
  padding: 15px;
}

header h1 {
  font-size: 1.8em;
}

.form-connection,
#form-message {
  padding: 15px;
  margin-top: 2%;
}

#form-message,
#connection-status {
  display: none;
}
